/*
///////////////////
Initial body and font import 
///////////////////
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.logo{
  font-size: 2.2em;
  font-weight: 600;
}
.logo img{
  height: 60px;
}
.logo span{
  color: #86bb22;
}