/*
///////////////////
Initial body and font import 
///////////////////
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* outline: 1px solid red; */
}
.logo{
  font-size: 2.2em;
  font-weight: 600;
}
.logo img{
  height: 60px;
}
.logo span{
  color: #86bb22;
}
.example-img{
  height: 180px;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nutri-info{
  font-size: 14px;
}
.showinfo-btn{
  border: none;
  background-color: #fff;
}
.btn-green{
  background-color: #6aa103;
  color: #fff;
}
.btn-green:hover{
  background-color: #578502;
  color: #fff;
}
.cart-container, .products-container{
  min-height: 100vh;
}
.dev{
  font-size: 12px;
}
.footer p{
  font-size: 0.9em;
}
.footer-socials i{
  filter: invert(20%);
  border-radius: 50%;
  padding: 5px 6px;
}
.footer-socials i:hover{
  cursor: pointer;
}
.footer-socials a{
  color: #313131;
}
@media(max-width: 768px){
  .logo{
    font-size: 1.5em;
    font-weight: 600;
  }
  .logo img{
    height: 50px;
  }
  .nutri-info{
    font-size: 12px;
  }
  .footer .row{
    margin-bottom: 10px;
  }
  .about{
    margin-top: 20px;
    text-align: center;
  }
  .contact{
    text-align: center;
    margin-bottom: 30px;
  }
}